<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card-body border-primary mb-3">

			<h4 class="card-title">
				<a th:href="@{/cliente/nuevo/}" class="btn btn-primary btn-xs">Nuevo
					Cliente</a>
			</h4>


			<nav th:replace="cliente/paginator-nav :: paginator"></nav>


			<div class="row justify-content-center">

				<div class=".col-xs-6 .col-sm-3" th:each="cliente: ${clientes}">
					<div class="card">
						<img class="card-img-top" th:src="@{/images/cliente.jpg}"
							width="30" height="200" alt="Mi Imagen"> <a
							class="btn btn-primary btn-xs"
							th:href="@{'/cliente/detalle/' + ${cliente.idCliente}}">Detail</a>

						<div class="card-body">
							<h4 class="card-title" th:text="${cliente.nombreCliente}">Aaron</h4>
							<p class="card-text" th:text="${cliente.apellidoCliente}">Flores</p>
							<p class="card-text" th:text="${cliente.dni}">76523213</p>
							<p class="card-text" th:text="${cliente.correoCliente}">aaron98@gmail.com</p>
							<p class="card-text" th:text="${cliente.nombreEmpresa}">Walon</p>
							<p class="card-text" th:text="${cliente.rucEmpresa}">118923</p>
							<p class="card-text" th:text="${cliente.pais}">peru</p>
							<a href="#"
								th:href="@{'/cliente/editar/' + ${cliente.idCliente}}"
								th:text="'editar'" class="btn btn-primary">Edit</a> <a href="#"
								th:href="@{'/cliente/eliminar/'+ ${cliente.idCliente}}"
								th:text="'delete'"
								onclick="return confirm('Estas seguro de eliminar al cliente?');"
								class="btn btn-danger">Delete</a> 
							<a href="#"	th:href="@{'/orden/nuevaOrden/'+ ${cliente.idCliente}}"
								class="btn btn-success">Invoice</a>
						</div>
					</div>
				</div>

			</div>

		
		</div>
		
					<nav th:replace="cliente/paginator-nav :: paginator"></nav>
	</div>



	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>